/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/
/*background: url{../images/imagen.png} no-repeat;*/

WindowJAMediaEditor, JAMediaEditorBasePanel, JAMediaEditorInfoNotebook,
JAMediaEditorToolbarBusquedas, JAMediaEditorToolbarProyecto,
JAMediaEditorToolbarArchivo, JAMediaEditorWorkPanel, ToolbarTerminal,
JAMediaEditorNotebook_SourceView, JAMediaTerminal, NoteBookTerminal,
Terminal, DialogoFormato, JAMediaEditorInstalador, PygiHackMenu,
PygiHackToolbar, JAMediaEditorInformeWidget, JAMediaEditorDialogoProyecto,
PygiHackBaseNotebook, PygiHackIntrospectionPanel, PygiHackInfoNotebook,
JAMediaTerminal2, NoteBookTerminal2, Terminal2, ToolbarTerminal2,
DialogoFormato2, JAMediaGstreamerPyGiHack{
    background-color: #f0e6aa;
    color: #000000;
}

JAMediaEditorIntrospeccion, JAMediaEditorEstructura_Proyecto,
JAMediaEditorDialogoBuscar, JAMediaEditorDialogoReemplazar,
JAMediaEditorMy_FileChooser, Multiple_FileChooser, JAMediaEditorDialogoErrores,
JAMediaEditorDialogoAlertaSinGuardar, JAMediaEditorDialogoSobreEscritura,
JAMediaEditorDialogoEliminar, JAMediaEditorBusquedaGrep, JAMediaEditorCredits,
GtkViewport, GtkFrame, JAMediaEditorPanelWidget_setup,
JAMediaEditorDebianWidget, DialogoLoad,
JAMediaEditorScrollPage, JAMediaEditorNotebookInstalador,
JAMediaEditorWidgetIcon {
    background-color: #edf5ff;
    color: #000000;
}

JAMediaEditorMenu, JAMediaEditorToolbarEstado, PygiHackToolbarTry,
JAMediaEditorMenuInstaladores {
    background-color: #000000;
    color: #ffffff;
}

TreeViewFonts, TreeViewTamanio {
    background-color: #ffffff;
    color: #000000;
}

/*
JAMediaEditorDialogoProyecto {
    background-color: #edf5ff;
    color: #000000;
    background-image: -gtk-gradient(linear,
        left top, left bottom,
        from(shade(#edf5ff, 0.50)),
        to(shade(#edf5ff, 1.00)));
}

GtkPaned {
    background-color: #edf5ff;
}

JAMediaEditorMenu, JAMediaEditorToolbarEstado {
    background-color: #000000;
    color: #ffffff;
}

JAMediaEditorToolbarArchivo, JAMediaEditorToolbarProyecto, PygiHackToolbar, PygiHackMenu {
    background-color: #ffffff;
    background-image: -gtk-gradient(linear,
        left top, left bottom,
        from(shade(#edf5ff, 0.50)),
        to(shade(#edf5ff, 1.00)));
}

ToolbarTerminal, JAMediaEditorToolbarBusquedas {
    background-color: #ffffff;
    background-image: -gtk-gradient(linear,
        left top, left bottom,
        from(shade(#edf5ff, 1.00)),
        to(shade(#edf5ff, 0.50)));
}
*/
