/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/
/*background: url{../images/imagen.png} no-repeat;*/

* {}

GtkWindow{
    background-color: #f0e6aa;
    color: #000000;
    }
GtkDialog, GtkFileChooserDialog{
    background-color: #edf5ff;
    color: #000000;
    }
GtkMenuBar, GtkMenu{
    color: #ffffff;
    background-color: #000000;
    }

/* > Ventana Principal */
WindowJAMediaEditor JAMediaEditorToolbarEstado,
WindowJAMediaEditor JAMediaEditorMenu,
WindowJAMediaEditor JAMediaEditorMenu GtkMenu{
    background-color: #000000;
    color: #ffffff;
    }/* < Ventana Principal */

/* > Panel Base */
JAMediaEditorBasePanel,
JAMediaEditorBasePanel JAMediaEditorToolbarProyecto,
JAMediaEditorBasePanel JAMediaEditorToolbarArchivo,
JAMediaEditorBasePanel JAMediaEditorToolbarBusquedas{
    background-color: #f0e6aa;
    color: #000000;
    }/* < Panel Base */

/* > Panel Izquierdo */
JAMediaEditorInfoNotebook{
    background-color: #edf5ff;
    color: #000000;
    }/* < Panel Izquierdo */

/* > Panel Derecho */
JAMediaEditorWorkPanel,
JAMediaEditorWorkPanel JAMediaEditorNotebook_SourceView{
    background-color: #edf5ff;
    color: #000000;
    }/* < Panel Derecho */

/* > Instaladores */
JAMediaEditorInstalador,
JAMediaEditorInstalador GtkEventBox,
JAMediaEditorInstalador GtkFrame,
JAMediaEditorInstalador GtkFrame GtkToolbar,
JAMediaEditorInstalador GtkNotebook{
    background-color: #edf5ff;
    color: #000000;
    }/* < Instaladores */

/* > Help */
JAMediaEditorHelp GtkToolbar{
    background-color: #edf5ff;
    color: #000000;
    }/* < Help */

/* > Creditos */
JAMediaEditorCredits,
JAMediaEditorCredits GtkDrawingArea{
    background-color: #000000;
    }/* < Creditos */

/* > Terminal */
JAMediaTerminal, JAMediaTerminal GtkNotebook,
JAMediaTerminal GtkToolbar{
    background-color: #f0e6aa;
    color: #000000;
    }/* < Terminal */

/* > JAMediaPyGiHack */
JAMediaPyGiHack, JAMediaPyGiHack GtkToolbar,
JAMediaPyGiHack GtkMenuBar, JAMediaPyGiHack GtkMenu,
JAMediaPyGiHack JAMediaEditorToolbarBusquedas,
JAMediaPyGiHack GtkPaned{
    background-color: #f0e6aa;
    color: #000000;
    }
JAMediaPyGiHack GtkNotebook{
    background-color: #edf5ff;
    color: #ffffff;
    }
JAMediaPyGiHack GtkStatusbar{
    background-color: #000000;
    color: #ffffff;
    }/* < JAMediaPyGiHack */
