/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/
/*background: url{../images/imagen.png} no-repeat;*/

* {}

/*Contenedores Principales*/
/*WindowJAMediaEditor, JAMediaEditorBasePanel,
JAMediaEditorInfoNotebook, JAMediaEditorWorkPanel,
JAMediaEditorNotebook_SourceView{
    color: #000000;
    background-color: #f0e6aa;
}

JAMediaEditorToolbarProyecto *, JAMediaEditorToolbarArchivo *{
    color: #000000;
    background-color: #f0e6aa;
}

JAMediaEditorIntrospeccion, JAMediaEditorEstructura_Proyecto{
    background-color: #fafafa;
    color: #000000;
}*/

/* Barra de menús*/
/*JAMediaEditorMenu *{
    color: #ffffff;
    background-color: #000000;
}
JAMediaEditorMenu * :insensitive{
    color: #4d4d4d;
    background-color: #999999;
}
JAMediaEditorMenu * :prelight{
    color: #000000;
    background-color: #ffffff;
}*/

/* Barras de estado    border-width: 5px;*/
/*JAMediaEditorToolbarEstado *, PygiHackToolbarTry *{
    color: #ffffff;
    background-color: #000000;
}*/

/*Otros*/
/*JAMediaEditorToolbarBusquedas * {
    background-color: #f0e6aa;
    color: #000000;
}
JAMediaEditorToolbarBusquedas GtkEntry {
    background-color: #ffffff;
    color: #000000;
}*/

/*Terminal*/
/*JAMediaTerminal *{
    background-color: #f0e6aa;
    color: #000000;
}*/

GtkWindow{
    background-color: #f0e6aa;
    color: #000000;
    }

/* > Instaladores */
GtkDialog, GtkFileChooserDialog,
JAMediaEditorInstalador,
JAMediaEditorInstalador GtkEventBox,
JAMediaEditorInstalador GtkFrame,
JAMediaEditorInstalador GtkFrame GtkToolbar,
JAMediaEditorInstalador GtkNotebook{
    background-color: #edf5ff;
    color: #000000;
    }
JAMediaEditorInstalador GtkMenuBar,
JAMediaEditorInstalador GtkMenu{
    color: #ffffff;
    background-color: #000000;
}
/* < Instaladores */
