
[Desktop Entry]
Encoding=UTF-8
Name=JAMediaImagenes
GenericName=JAMediaImagenes
Comment=Editor de Imagenes
Exec=/usr/local/bin/JAMediaImagenes
Terminal=false
Type=Application
Icon=/usr/local/share/JAMediaImagenes/iconos/JAMediaImagenes.png
Categories=GTK;GNOME;Graphics;
StartupNotify=true
