/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/

/* Contenedores */
GtkWindow {
    background-color: #ffffff;
}

/* Scrollbars */
.scrollbar {
    -GtkRange-slider-width: 15;
    -GtkRange-trough-border: 0;
    -GtkRange-stepper-size: 0;
    -GtkScrollbar-min-slider-length: 45;
    -GtkScrollbar-has-forward-stepper: 0;
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-secondary-forward-stepper: 0;
    -GtkScrollbar-has-secondary-backward-stepper: 0;
}
.scrollbar.trough {
    background-color: #ffffff;
    border-width: 0px;
}
.scrollbar.slider {
    background-color: #ffb481;
    border-radius: 30px;
    border-width: 0px;
}
.scrollbar.slider:active {
    background-color: #ff6600;
}

.tooltip {
    color: #ffffff;
    background-color: #ff6600;
    background-image: none;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

GtkPaned {
    background-color: #ffffff;
}

DialogoDescarga {
    background-color: #ffffff;
    color: #000000;
}

Credits, TubeCredits, Help, TubeHelp{
    background-color: #000000;
    color: #ffffff;
}
TubeListDialog{
    background-color: #ffffff;
    color: #000000;
}

/* Toolbars */
GtkToolbar {
    background-color: #000000;
    color: #ffffff;
}

GtkSeparator {
    color: #ffffff;
}



/* Menus */
GtkMenu {
    color: #ffffff;
    background-color: #000000;
}
GtkMenuItem {
    color: #ffffff;
    background-color: #ff6600;
}


GtkSwitch {
    color: #ff6600;
    background-image: none;
    background-color: #000000;
 }
GtkSwitch.trough:active {
    color: #000000;
    background-color: #ff6600;
 }
 
 
/* Drawings Areas Personalizadas */
Visor {
    background-color: #000000;
}
DrawingLector, VisorImagenes {
    background-color: #ffffff;
}

/* Botones, items en toolbars en general */
GtkToolItem, GtkToolButton, GtkToggleToolButton, GtkImage, GtkToggleButton {
    background-color: transparent;
}
GtkButton{
    background-color: transparent;
}
