GtkWindow {
    background-color: #000000;
    color: #ffffff;
}

GtkMenuBar, GtkMenu, GtkMenuItem {
    background-color: #000000;
    color: #ffffff;
}

GtkEventBox {
    background-color: #b0e0e6;
    color: #000000;
}
