
JAMedia, Creditos, Help, ToolbarSalir, ToolbarAccion, ToolbarAddStream,
Derecha, Izquierda, BufferInfo{
    background-color: #ffffff;
}

Toolbar, ToolbarInfo{
    background-color: #778899;
}

ToolbarGrabar, VideoVisor{
    background-color: #000000;
}
